/*#800040 #cc0066*/

@font-face {
  font-family: Malina;
  src: url('assets/Malina-Regular.otf') format('opentype');
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}

a {
  text-decoration: none;
}

#wrapper {
  min-height: 100%;
  position: relative;
  padding: 5% 10% 0 10%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu {
  border: 1px solid grey;
  display: none;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  padding: 5px 10px;
  position: absolute;
  right: 10%;
  text-align: center;
  text-transform: uppercase;
}

#mobile-nav-container, #mobile-nav-container a {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 300;
  list-style: none;
  text-align: center;
}

.mobile-nav-links {
  padding-top: 10px;
}

#nav-container {
  list-style: none;
}

#nav-container li {
  display: inline-block;
  margin: 10px;
}

.nav-links {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.nav-links a {
  color: black;
}

.mobile-nav-links a:hover, .nav-links a:hover {
  color: #551a8b;
  padding: 2.5px 0;
}

#name {
  background: -webkit-linear-gradient(#004040, #7fbfbf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Malina';
  font-size: 120px;
}

#last-name {
  color: #7fbfbf;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: right;
  margin-top: -14px;
  padding: 5px 0;
}

#heart {
  color: #cc0066;
}

.headline {
  border-bottom: 5px solid #5CD6D6;
  clear: both;
  color: black;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  margin: 10px auto;
  text-align: center;
  padding-bottom: 5px;
}

#about {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  text-align: left;
  max-width: 600px;
  padding: 20px 0;
}

#about .spotlighted {
  font-color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

#about a {
  border-bottom: 2px solid #ffff99;
  color: black;
}

#about a:hover {
  background-color: #ffff99;
}

#peace-sign {
  font-size: 18px;
}

#portfolio {
  display: inline-block;
  width: 100%;
}

.row {
  clear: both;
  margin: auto;
  max-width: 800px;
  vertical-align: top;
}

.box {
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 300;
  padding-bottom: 20px;
}

.text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 300;
  margin: 10px auto;
  text-align: center;
  width: 390px;
}

img {
  border: 1px solid black;
  display: inline-block;
  height: 200px;
  margin-right: 10px;
}

.code-link, .code-link:visited {
  border-bottom: 2px solid #ccffff;
  color: black;
  font-style: italic;
}

.code-link:hover {
  background-color: #ccffff;
}

#portfolio-page {
  display: flex;
}

#portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 10px;
}

#portfolio-text {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  text-align: left;
  max-width: 500px;
  padding: 20px 0;
}

#portfolio-link a {
  color: #551a8b;
  border-top: 3px solid #ccbadc;
  padding-top: 5px;
}

footer {
  backgrond: #f9f9f9;
  clear: both;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  width:100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*
#social-media-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-align: center;
}

#social-media-container a:link,
#social-media-container a:visited,
#social-media-container a:active {
  color: black;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

#social-media-container a:hover {
  color: #3FB8AF;
}

.social-icon {
  background-position: center center;
  background-size: cover;
  border: none;
  height: 25px;
  width: 25px;
  margin: 10px;
}
*/
/*.social-icon:hover .social-text {
  display: inline-block;
}

.social-text {
  display: none;
}*/

/*#twitter {
  background-image: url('./assets/twitter.png');
}

#instagram {
  background-image: url('assets/instagram.png');
}

#linkedin {
  background-image: url('assets/linkedin.png');
}

#github {
  background-image: url('assets/github.png');
}

#medium {
  background-image: url('assets/medium.png');
}

#tumblr {
  background-image: url('assets/tumblr.png');
}*/

#footer-text-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  margin-top: 20px;
}

@media (min-width: 816px) {
  body {
    overflow-x: hidden;
  }
/*  #about {
    padding: 0;
  }
  .box {
    float: left;
  }*/
}

@media (max-width: 682px) {
  #menu {
    display: block;
  }
  #nav-container {
    display: none;
  }
  #name-container {
    margin: 20px auto 0 auto;
  }
}

@media (max-width: 1004px) {
  #portfolio {
    text-align: center;
  }
}

@media (max-width: 1414px) {
  #portfolio-page {
    display: block;
  }
  #portfolio-text {
    /*max-width: 600px;*/
  }
  #portfolio {
    display: block;
    padding: 0;
  }
}